.hidden{
	display: none;
}

.align-center{
	text-align: center;
}

.align-left{
	text-align: left;
}

.align-right{
	text-align: right;
}

.euro::after{
	content: ' €';
}

.no-border{
	border: none;
}

.offset{
	margin-left: 18%;
}

.required::after{
	content: '*';
}

.table-col-2 td{
	width: 45%;
}

.text-label{
	display: inline-block;
	width: 45%;
	text-align: right;
	margin-right: 10px;
}

#boutonMenu{
	margin-left: 15%;
}

#disconnect{
	border-radius: 10px;
	background-color: #34495e;
	padding: 5px;
	margin-top: -5px;
}

#formParametre input{
	width : 100px;
}

#logo{
	margin-left: 15%;
}

#pageConnexion{
	height: 400px;
	padding-top: 100px;
	margin-left: 0px;
}

#pageConnexion fieldset{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

article{
	margin-bottom: 20px;
}

fieldset div{
	margin: 5px 0;
}

fieldset div>label{
	display: inline-block;
	width: 45%;
	text-align: right;
}

fieldset, table{
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

fieldset table{
	border: none;
}

h1 {
	margin: 0.67em 0 0.67em 18%;
}

header, footer{
	background-color: #263646;
	font-size: 1.3em;
	padding: 15px;
	min-height: 55px;
}

header a{
	float: right;
}

input[type=text]{
	padding-right: 10px;
}

input, select, textarea{
	border-radius: 7px;
}

input[type=number]{
	text-align: right;
}

input[type=text], input[type=password], input[type=number]{
	padding-left: 10px;
}

section{
	margin-left: auto;
	margin-right: auto;
}

table{
	border: solid 1px white;
	padding: 10px;
}

table>caption{
	text-align: left;
	font-weight: bold;
	margin-left: 30px;
}

tr {
	margin: 15px;
}

@media (max-width:768px)
{
	table, fieldset{
		width : 350px;
	}
}

@media (min-width:768px) and (max-width:992px)
{
	table, fieldset{
		width : 500px;
	}
}

@media (min-width:992px) and (max-width:1200px)
{
	table, fieldset{
		width : 650px;
	}
}

@media (min-width:1200px)
{	
	table, fieldset{
		width : 800px;
	}
}