.hidden{
	display: none;
}

.align-center{
	text-align: center;
}

.align-left{
	text-align: left;
}

.align-right{
	text-align: right;
}

.no-border{
	border: none;
}

#boutonMenu{
	margin-left: 15%;
}

#disconnect{
	border-radius: 10px;
	background-color: #34495e;
	padding: 5px;
	margin-top: -5px;
}

#logo{
	margin-left: 15%;
}

article{
	margin-left: 15%;
	margin-bottom: 20px;
}

header, footer{
	background-color: #263646;
	font-size: 1.3em;
	padding: 15px;
	min-height: 55px;
}

header a{
	float: right;
}

input{
	border-radius: 7px;
}

input[type=text]{
	padding-left: 10px;
}

table{
	border: solid 1px white;
	margin: 20px;
	padding: 10px;
}

fieldset div{
	margin: 5px 0;
}

fieldset>div>label{
	display: inline-block;
	width: 45%;
	text-align: right;
}

fieldset table{
	border: none;
}

table>caption{
	text-align: left;
	font-weight: bold;
	margin-left: 30px;
}

tr {
	margin: 15px;
}

@media (max-width:768px)
{
	table, fieldset{
		width : 350px;
	}
}

@media (min-width:768px) and (max-width:992px)
{
	table, fieldset{
		width : 500px;
	}
}

@media (min-width:992px) and (max-width:1200px)
{
	table, fieldset{
		width : 650px;
	}
}

@media (min-width:1200px)
{	
	table, fieldset{
		width : 800px;
	}
}

formParametre input{
	width : 100px;
}